[class^="layout_glive__"] {
  padding-top: 15px !important;
  --knife-top-explore-top: -48px;
}

[class^="header_logo__"],
[class^="toolbar_container__"] {
  top: -45px !important;
  transition: top ease-in-out 100ms;
}

[class^="header_logo__"]:hover,
[class^="header_logo__"]:has(~ [class^="toolbar_container__"]:hover),
[class^="toolbar_container__"]:hover,
[class^="header_logo__"]:hover ~ [class^="toolbar_container__"] {
  top: 0px !important;
}

[class^="layout_glive__"]:has(> [class^="header_logo__"]:hover),
[class^="layout_glive__"]:has(> [class^="toolbar_container__"]:hover) {
  --knife-top-explore-top: -3px;
}

[class^="navigation_component_container__"],
[class^="category_container__"] {
  min-height: calc(100vh - 15px) !important;
}

[class^="category_tab__"],
[class^="channel_tab__"],
[class^="navigation_broadcast_tab__"] {
  top: 15px !important;
}

[class^="navigation_component_filter__"] {
  top: 58px !important;
}

[class^="community_write_header__"],
[class^="channel_component_header__"] {
  top: 68px !important;
}

[class^="live_container__"]:not([class*="live_type_pip__"]) {
  height: calc(100vh - 15px) !important;
}

[class^="live_container__"][class*="live_is_large__"]:not(
    [class*="live_type_pip__"]
  ) {
  height: auto !important;
}
