html {
  --knife-chat-resize: 1;
}

aside[class^="live_chatting_container__"]:not(
    [class*="live_chatting_is_popup_chat__"]
  ),
aside[class^="vod_aside__"] {
  width: var(--knife-chat-width, 353px);
  max-width: calc(100% - 24px);
}

div.miniplayer:not(.is_large) {
  width: var(--knife-chat-width, 353px) !important;
  height: calc(var(--knife-chat-width, 353px) * 9 / 16) !important;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  aside[class^="live_chatting_container__"][class*="live_chatting_is_large__"],
  [class*="vod_is_large__"] [class^="vod_aside__"] {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-aspect-ratio: 1 / 1) {
  div.miniplayer.is_large {
    width: var(--knife-chat-width, 353px) !important;
    height: calc(var(--knife-chat-width, 353px) * 9 / 16) !important;
  }
}

.knife-resize-handle {
  width: 3px;
  height: 100%;
  cursor: col-resize;
}

.knife-resize-handle:hover {
  background-color: var(--color-bg-overlay-03);
}

.knife-resize-handle:has(+ [class*="live_chatting_is_folded__"]),
.knife-resize-handle:has(+ [class*="live_chatting_is_popup_chat__"]) {
  display: none;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  [class*="live_is_large__"] .knife-resize-handle,
  [class*="vod_is_large__"] .knife-resize-handle {
    display: none;
  }
}
