[class^="live_wrapper__"],
[class^="vod_player__"] {
  flex-direction: row-reverse !important;
}

[class*="live_chatting_popup_profile_container__"] {
  right: auto !important;
}

[class^="vod_aside__"] {
  margin-bottom: 0 !important;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  [class^="live_container__"][class*="live_is_large__"] [class^="live_wrapper__"],
  [class^="vod_container__"][class*="vod_is_large__"] [class^="vod_player__"] {
    flex-direction: column-reverse !important;
  }
}
