html body,
body .channel_home_banner_icon_arrow__8smxw,
body .channel_home_community_icon_arrow__zoIlF,
body .channel_home_vod_icon_arrow__qULQb,
body .channel_tab__q7JAu,
body .live_chatting_area__hUPJw,
body .live_chatting_header_title__3y2oK,
body .live_chatting_ranking_container__RVHvS,
body .live_chatting_ranking_contents__E\+c09,
body .live_container__Ccraj.live_is_large__Ghhnm,
body .news_icon_arrow__u02tn,
body .webkit_cafe_pc,
body .webkit_cafe_pc .webkit_cafe_content .btn_flicking {
  background-color: #f7f7f8;
}

body .community_write_container__CLvr1,
body .community_write_footer__Y6PnI,
body .community_write_header__e1Q85,
body .header_wrapper__bBUcP,
body .live_chatting_input_container__qA0ad.live_chatting_input_is_active__WeOjk {
  background-color: #efeff1;
}

body .cleanbot_popup_layer__qz6fp,
body .comment_item_layer__AV38Q,
body .community_write_sticker_layer__XkGNh,
body .emoticon_container__6D3Ri,
body .layer_container__ChL8g,
body .live_chatting_fixed_wrapper__pc1DD,
body .live_chatting_guide_inner__TK3wg,
body .live_chatting_popup_bottom_container__vHEpB,
body .live_chatting_popup_donation_container__-Xbda,
body .live_chatting_popup_initial_container__fB4JK,
body .live_chatting_popup_my_profile_container__qxt53,
body .live_chatting_popup_profile_container__\+YBl1,
body .live_chatting_popup_rule_container__gnQS8,
body .live_chatting_scroll_button_chatting__kqgzN,
body .popup_container__Aqx-3,
body .popup_header__lQYko.popup_scroll_title__56T-x.popup_scroll_active__GvgMp,
body .profile_layer_container__Qjyvp,
body .profile_layer_lounge_container__fCdQK,
body .search_autocomplete__m3D36,
body .top_banner_list__Kahwi {
  background-color: #e6e6ea;
}

body .channel_information_channel_item__sipXo,
body .emoticon_subtitle__EGiFT,
body .live_chatting_input_container__qA0ad,
body .live_chatting_popup_profile_tab__6hQJz,
body .live_chatting_scroll_button_arrow__tUviD,
body .navigator_inner__fR6Zm,
body .profile_chatting_manage_button_arrow__JbROa,
body .toolbar_label__3AENG,
body .top_banner_item__Txv38:active,
body .top_banner_item__Txv38:focus-visible,
body .top_banner_item__Txv38:hover,
body .video_card_thumbnail__QXYT8.video_card_is_adult__f3RBL,
body .vod_recommend_thumbnail__UbZ87.vod_recommend_is_adult__-29Xf {
  background-color: #dedee3;
}

body .channel_vod_tab_type_item__9Yq3l,
body .cleanbot_popup_box__WnrDG,
body .header_label__9PQIM,
body .live_chatting_input_send_button__8KBrn,
body .no_content_button__T9KR7,
body .no_content_link__fCJQV,
body .report_title__FjOSu,
body .report_wrapper__Wy8OD.report_is_error__NIaHg,
body .report_wrapper__Wy8OD.report_is_focused__5WD1I,
body .video_information_label__ys8r1,
body .videos_tab__w6Uek,
body .vod_recommend_label__SpNOG,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_flicking .dot,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab {
  background-color: #d3d3d9;
}

body .channel_information_channel_item__sipXo:active,
body .channel_information_channel_item__sipXo:focus-visible,
body .channel_information_channel_item__sipXo:hover,
body .live_chatting_popup_my_profile_area__TjCrW,
body .live_chatting_popup_my_profile_preview__jDjXa,
body .live_chatting_popup_profile_header__OWnnU,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab:hover {
  background-color: #c8c8d0;
}

body .pagination_button__\+Tzu0[aria-current="page"]:active,
body .pagination_button__\+Tzu0[aria-current="page"]:focus-visible,
body .pagination_button__\+Tzu0[aria-current="page"]:hover {
  background-color: #53535f;
}

body .input_button__6SZ4P.input_highlight__FyLt6:active,
body .input_button__6SZ4P.input_highlight__FyLt6:focus-visible,
body .input_button__6SZ4P.input_highlight__FyLt6:hover,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_flicking .dot.selected,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item .item_comment:before,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item .item_date:before {
  background-color: #3b3b44;
}

body .auto_charge_using_auto_charge__Nbz\+2,
body .auto_charge_button_area__6DCGc,
body .auto_charge_information_area__JZLtl,
body .charge_information_area__BsDTW {
  background-color: rgba(0, 0, 0, 0.03);
}

body .channel_manage_home_data__n9KEn + .channel_manage_home_data__n9KEn:before,
body .channel_profile_cell__kkiQb + .channel_profile_cell__kkiQb:before,
body .channel_vod_tab_order_item__mjujm + .channel_vod_tab_order_item__mjujm:before,
body .comment_item_thumbnail__hArW5:active:before,
body .comment_item_thumbnail__hArW5:focus-visible:before,
body .comment_item_thumbnail__hArW5:hover:before,
body .header_item__ZXQHZ + .header_item__ZXQHZ:before,
body .live_information_player_count__60uon + .live_information_player_count__60uon:before,
body .lives_item__2tvg3 + .lives_item__2tvg3:before,
body .video_card_item__lOC8Y + .video_card_item__lOC8Y:before,
body .video_information_count__Y05sI:before,
body .vod_recommend_data__Fjf7s + .vod_recommend_data__Fjf7s:before {
  background-color: rgba(0, 0, 0, 0.2);
}

body .channel_profile_dimmed__tk\+lX,
body .popup_dimmed__zs78t {
  background-color: rgba(0, 0, 0, 0.3);
}

body .channel_manage_basic_button__26slF:active,
body .channel_manage_basic_button__26slF:focus-visible,
body .channel_manage_basic_button__26slF:hover,
body .channel_manage_video_button__R3ds4:hover:not(.channel_manage_video_button__R3ds4[aria-selected=true]),
body .channel_manage_component_button__mQNU5:hover,
body .channel_item__NHdIP:active,
body .channel_item__NHdIP:focus-visible,
body .channel_item__NHdIP:hover {
  background-color: hsla(0, 0%, 50%, 0.03);
}

body .item_container__TTa1x:active,
body .item_container__TTa1x:focus-visible,
body .item_container__TTa1x:hover,
body .layer_button__fFPB8:active,
body .layer_button__fFPB8:focus-visible,
body .layer_button__fFPB8:hover,
body .layer_button__fFPB8[aria-pressed="true"],
body .live_chatting_fixed_button__Ng7ya:active,
body .live_chatting_fixed_button__Ng7ya:focus-visible,
body .live_chatting_fixed_button__Ng7ya:hover,
body .profile_layer_area__dPqpR:active,
body .profile_layer_area__dPqpR:focus-visible,
body .profile_layer_area__dPqpR:hover {
  background-color: hsla(0, 0%, 50%, 0.04);
}

body .channel_home_banner_item__RcIIc img,
body .channel_information_profile__6by2m,
body .channel_manage_basic_image__P4REO,
body .channel_profile_image__gteie,
body .channel_tab__q7JAu:before,
body .comment_item_image__VhM\+S,
body .community_detail_profile__dW\+CW img,
body .community_list_item_image__An7zg,
body .community_list_item_profile__CzvEA img,
body .component_footer__9ibAU:after,
body .component_footer__9ibAU:before,
body .component_footer__XzqY7:after,
body .component_footer__XzqY7:before,
body .component_wrapper__8cihS:last-child:after,
body .header_service__DyG7M:before,
body .input_image__yjXZ3,
body .live_chatting_container__SvtrD:not(.live_chatting_is_popup_chat__JSyy2):before,
body .live_chatting_popup_my_profile_contents__tIGQJ:before,
body .live_chatting_popup_my_profile_image__SbKcn,
body .live_chatting_popup_profile_image__c6lmp,
body .live_chatting_popup_profile_tab__6hQJz:active:before,
body .live_chatting_popup_profile_tab__6hQJz:focus-visible:before,
body .live_chatting_popup_profile_tab__6hQJz:hover:before,
body .live_chatting_popup_profile_tab__6hQJz[aria-selected="true"]:before,
body .live_chatting_popup_rule_thumbnail__oFVHT img,
body .live_chatting_ranking_container__RVHvS:after,
body .live_chatting_scroll_button_chatting__kqgzN:hover:before,
body .live_information_player_image__Cqvk3,
body .navigator_image__T5dSp,
body .navigator_wrapper__ruh6f + .navigator_wrapper__ruh6f:before,
body .popup_header__lQYko:before,
body .profile_image__IdwBc,
body .profile_layer_wrapper__IghK\+:before,
body .search_item__QUzZ-.search_selected__DRZRn:before,
body .toolbar_image__wmEH\+,
body .video_information_image__z6H2l,
body .vod_content_right__03BZM:before {
  background-color: hsla(0, 0%, 50%, 0.06);
}

body .channel_profile_action__-s3Ew + .channel_profile_action__-s3Ew:before,
body .channel_vod_tab_order_item__mjujm:active,
body .channel_vod_tab_order_item__mjujm:focus-visible,
body .channel_vod_tab_order_item__mjujm:hover,
body .channel_vod_tab_type_item__9Yq3l:active:before,
body .channel_vod_tab_type_item__9Yq3l:focus-visible:before,
body .channel_vod_tab_type_item__9Yq3l:hover:before,
body .cleanbot_popup_button__f8uvK:active:before,
body .cleanbot_popup_button__f8uvK:focus-visible:before,
body .cleanbot_popup_button__f8uvK:hover:before,
body .cleanbot_popup_switch__JX76B:active .cleanbot_popup_slider__tJFuX:before,
body .cleanbot_popup_switch__JX76B:focus-visible .cleanbot_popup_slider__tJFuX:before,
body .cleanbot_popup_switch__JX76B:hover .cleanbot_popup_slider__tJFuX:before,
body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:active svg,
body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:focus-visible svg,
body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:hover svg,
body .comment_item_option__gcILq:active,
body .comment_item_option__gcILq:focus-visible,
body .comment_item_option__gcILq:hover,
body .community_detail_profile__dW\+CW:active:after,
body .community_detail_profile__dW\+CW:focus-visible:after,
body .community_detail_profile__dW\+CW:hover:after,
body .community_list_item_profile__CzvEA:active:after,
body .community_list_item_profile__CzvEA:focus-visible:after,
body .community_list_item_profile__CzvEA:hover:after,
body .emoji_button__somyT:active,
body .emoji_button__somyT:focus-visible,
body .emoji_button__somyT:hover,
body .emoticon_emoticon__q2Sw6:active,
body .emoticon_emoticon__q2Sw6:focus-visible,
body .emoticon_emoticon__q2Sw6:hover,
body .header_button__oszSs:active .header_icon__8SHkt,
body .header_button__oszSs:focus-visible .header_icon__8SHkt,
body .header_button__oszSs:hover .header_icon__8SHkt,
body .header_button__v\+YeR:active:before,
body .header_button__v\+YeR:focus-visible:before,
body .header_button__v\+YeR:hover:before,
body .header_tab__t0rIh:active,
body .header_tab__t0rIh:focus-visible,
body .header_tab__t0rIh:hover,
body .live_chatting_donation_message_emoticon_button__qp8ge,
body .live_chatting_popup_initial_close_button__6JkiB:active svg,
body .live_chatting_popup_initial_close_button__6JkiB:focus-visible svg,
body .live_chatting_popup_initial_close_button__6JkiB:hover svg,
body .live_chatting_popup_profile_item__tOguB:active,
body .live_chatting_popup_profile_item__tOguB:focus-visible,
body .live_chatting_popup_profile_item__tOguB:hover,
body .live_chatting_popup_rule_close_button__dk1mH:active svg,
body .live_chatting_popup_rule_close_button__dk1mH:focus-visible svg,
body .live_chatting_popup_rule_close_button__dk1mH:hover svg,
body .live_chatting_ranking_refresh_button__U8DZO:active:before,
body .live_chatting_ranking_refresh_button__U8DZO:focus-visible:before,
body .live_chatting_ranking_refresh_button__U8DZO:hover:before,
body .live_chatting_scroll_button_arrow__tUviD:hover:before,
body .lives_tab__Tbcpq:active,
body .lives_tab__Tbcpq:focus-visible,
body .lives_tab__Tbcpq:hover,
body .navigator_button_fold__nOkxo:active .navigator_icon_arrow__37j2I,
body .navigator_button_fold__nOkxo:focus-visible .navigator_icon_arrow__37j2I,
body .navigator_button_fold__nOkxo:hover .navigator_icon_arrow__37j2I,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:active,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:focus-visible,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:hover,
body .no_content_button__T9KR7:active:before,
body .no_content_button__T9KR7:focus-visible:before,
body .no_content_button__T9KR7:hover:before,
body .no_content_link__fCJQV:active:before,
body .no_content_link__fCJQV:focus-visible:before,
body .no_content_link__fCJQV:hover:before,
body .pagination_button__\+Tzu0:active,
body .pagination_button__\+Tzu0:focus-visible,
body .pagination_button__\+Tzu0:hover,
body .popup_close_button__Gwi1s:active svg,
body .popup_close_button__Gwi1s:focus-visible svg,
body .popup_close_button__Gwi1s:hover svg,
body .profile_chatting_manage_button_arrow__JbROa:active:before,
body .profile_chatting_manage_button_arrow__JbROa:focus-visible:before,
body .profile_chatting_manage_button_arrow__JbROa:hover:before,
body .profile_layer_lounge_button_back__cMRjZ:active .profile_layer_lounge_icon_arrow__muIOI,
body .profile_layer_lounge_button_back__cMRjZ:focus-visible .profile_layer_lounge_icon_arrow__muIOI,
body .profile_layer_lounge_button_back__cMRjZ:hover .profile_layer_lounge_icon_arrow__muIOI,
body .search_remove_button__AMK7-:active svg,
body .search_remove_button__AMK7-:focus-visible svg,
body .search_remove_button__AMK7-:hover svg,
body .sticker_button__mJYAK:active,
body .sticker_button__mJYAK:focus-visible,
body .sticker_button__mJYAK:hover,
body .sticker_button_move__YRzlm:active,
body .sticker_button_move__YRzlm:focus-visible,
body .sticker_button_move__YRzlm:hover,
body .sticker_category__cRqOK:active:before,
body .sticker_category__cRqOK:focus-visible:before,
body .sticker_category__cRqOK:hover:before,
body .toolbar_item__Kbygr:not(.toolbar_profile__k50kI):active,
body .toolbar_item__Kbygr:not(.toolbar_profile__k50kI):focus-visible,
body .toolbar_item__Kbygr:not(.toolbar_profile__k50kI):hover,
body .toolbar_link__p4qbh:active,
body .toolbar_link__p4qbh:focus-visible,
body .toolbar_link__p4qbh:hover,
body .top_banner_item__Txv38 + .top_banner_item__Txv38:before,
body .top_banner_list__Kahwi.top_banner_default__NwS55:after,
body .video_information_link__2OrbG:active,
body .video_information_link__2OrbG:focus-visible,
body .video_information_link__2OrbG:hover,
body .vod_recommend_switch__NhlSe:active:before,
body .vod_recommend_switch__NhlSe:focus-visible:before,
body .vod_recommend_switch__NhlSe:hover:before,
body .webkit_cafe_pc .webkit_cafe_head .btn_more:hover,
body a.video_card_channel__AjQ\+P:active,
body a.video_card_channel__AjQ\+P:focus-visible,
body a.video_card_channel__AjQ\+P:hover {
  background-color: hsla(0, 0%, 50%, 0.1);
}

body .button_container__x044H:active,
body .button_container__x044H:focus-visible,
body .button_container__x044H:hover {
  background-image: linear-gradient(hsla(0, 0%, 50%, 0.1), hsla(0, 0%, 50%, 0.1));
}

body .channel_information_badge__4A2Gr,
body .live_chatting_ranking_row_is_self__AlNLr {
  background-color: hsla(0, 0%, 50%, 0.15);
}

body .comment_list_button_more__7mQ-G:before {
  background-color: hsla(0, 0%, 50%, 0.3);
}

body .navigator_tooltip__KbFhK.navigator_is_expanded__4Q1h9 .navigator_category__S1wCR,
body .profile_layer_badge__cq8Em,
body .video_card_category__xQ15T {
  background-color: rgba(46, 48, 51, 0.2);
}

body .input_button__6SZ4P[disabled] {
  background-color: rgba(147, 151, 161, 0.3);
}

body .channel_information_area__5Gl-m,
body .channel_manage_component_area__XIPZG,
body .community_detail_area__H9w34,
body .community_detail_cell_button__XLDgL,
body .community_list_item_container__6ZKYd,
body .news_container__ieXfW,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_empty,
body .webkit_cafe_pc .webkit_cafe_content ul {
  background-color: hsla(220, 6%, 90%, 0.3);
}

body .community_detail_cell_button__XLDgL:active,
body .community_detail_cell_button__XLDgL:focus-visible,
body .community_detail_cell_button__XLDgL:hover,
body .community_list_write_button__YnUHx:active,
body .community_list_write_button__YnUHx:focus-visible,
body .community_list_write_button__YnUHx:hover,
body .input_container__ZLzzR:active,
body .input_container__ZLzzR:focus-visible,
body .input_container__ZLzzR:hover,
body .input_container__ZLzzR.input_is_focused__HleQc {
  background-color: hsla(220, 6%, 80%, 0.6);
}

body .community_list_write_button__YnUHx,
body .input_container__ZLzzR,
body .report_wrapper__Wy8OD {
  background-color: hsla(210, 5%, 85%, 0.5);
}

body .header_container__F4Prc .header_section__iT7rY .header_service__DyG7M .header_item__MFv39 {
  color: #697183;
}

body .channel_item__NHdIP:active,
body .channel_item__NHdIP:focus-visible,
body .channel_item__NHdIP:hover,
body .component_title__JJlHd,
body .emoticon_container__6D3Ri,
body .live_chatting_container__SvtrD,
body .live_chatting_ranking_marquee_area__tQDG8,
body .popup_container__Aqx-3,
body .report_text__-66gd,
body .toolbar_item__Kbygr:active,
body .toolbar_item__Kbygr:focus-visible,
body .toolbar_item__Kbygr:hover,
body .video_information_link__2OrbG:active,
body .video_information_link__2OrbG:focus-visible,
body .video_information_link__2OrbG:hover {
  color: #0e0e10;
}

body .agree_label__xav9m,
body .agree_text__GtLfn,
body .auto_charge_guide_text__8AAtw,
body .auto_charge_information_area__JZLtl .auto_charge_button__-pp1u,
body .channel_home_no_content_container__q2x18.channel_home_no_content_type_image__KhPnL .channel_home_no_content_text__6RzzE,
body .channel_information_badge__4A2Gr,
body .channel_information_channel_name__Y17o-,
body .channel_information_nickname__fi7Yh,
body .channel_information_statistics_text__hODm0,
body .channel_information_title__Gg8ou,
body .channel_item__NHdIP[aria-selected="true"],
body .channel_main_area__YuL\+8,
body .channel_manage_basic_button__26slF,
body .channel_manage_basic_label__lIPHW,
body .channel_manage_component_button__mQNU5,
body .channel_manage_home_label__iH1u3,
body .channel_manage_home_video_name__KXAcv,
body .channel_manage_information_label__qvctc,
body .channel_manage_information_ranking_choose__FO2ch,
body .channel_manage_title__-XA7K,
body .channel_manage_video_button__R3ds4,
body .channel_manage_video_empty_title__Xe9DP,
body .channel_manage_video_video_name__EyYwv,
body .channel_vod_tab_order_item__mjujm[aria-selected="true"],
body .charge_complete_title__c-j6b,
body .charge_complete_value_area__vXO3G,
body .charge_guide_text__xCljl,
body .charge_information_area__BsDTW .charge_button__bfwM7,
body .charge_price__bnoQI,
body .cleanbot_popup_description__tin0u,
body .cleanbot_popup_text__CuoqP,
body .comment_item_content__QxOPL .comment_item_text__c6NLq,
body .comment_list_button_more__7mQ-G,
body .community_detail_cell_button__XLDgL,
body .community_detail_name__g14-w,
body .community_detail_text__Hol9F,
body .community_list_item_area__Uocg9,
body .community_list_item_nickname__3NZ-9,
body .community_write_input__iSHZo,
body .component_link__pfwRL,
body .component_title__aU36a,
body .header_tab__t0rIh[aria-selected="true"],
body .header_title__ajHUh,
body .input_tool__6bFCO,
body .live_chatting_input_input_button__sjwrf,
body .live_chatting_popup_initial_close_button__6JkiB:active,
body .live_chatting_popup_initial_close_button__6JkiB:focus-visible,
body .live_chatting_popup_initial_close_button__6JkiB:hover,
body .live_chatting_popup_my_profile_row__WmlI7,
body .live_chatting_popup_my_profile_text__z4s9N,
body .live_chatting_popup_profile_tab__6hQJz[aria-selected="true"] .live_chatting_popup_profile_count__oNaRD,
body .live_chatting_popup_rule_close_button__dk1mH:active,
body .live_chatting_popup_rule_close_button__dk1mH:focus-visible,
body .live_chatting_popup_rule_close_button__dk1mH:hover,
body .live_chatting_ranking_guide_text__Q1V8i,
body .live_chatting_ranking_row_is_self__AlNLr,
body .live_chatting_ranking_row_number__GgvrX,
body .lives_header__xNxDM,
body .manage_auto_charge_information__LKeBj,
body .manage_auto_charge_pay_text__27enG,
body .manage_badge_label__aP1bt,
body .navigator_name__AhZMz,
body .news_text__SRP-a,
body .no_content_button__T9KR7,
body .no_content_container__gjC6l.no_content_type_chat__Fd7aq .no_content_title__x2tdN,
body .no_content_link__fCJQV,
body .partner_name__Xhs6e,
body .popup_inner__EMb9x,
body .popup_title__Kqbu8,
body .profile_introduction__cRKHk,
body .profile_layer_container__Qjyvp,
body .profile_layer_lounge_container__fCdQK,
body .report_reason_text__oK9eq,
body .video_information_live_data__KuWvk .video_information_count__Y05sI,
body .video_information_private__7RnJs,
body .videos_title__KuM6Y,
body .vod_recommend_text__VQCN3,
body .vod_recommend_vod_title__W0WOT,
body .webkit_cafe_pc .webkit_cafe_head .btn_more,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_name .btn_cafe_more,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_name .cafe_name,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab {
  /* #c9cedc */
  color: #1f1f23;
}

body .auto_charge_important__gBOJ8,
body .auto_charge_list__6\+63t .auto_charge_item__7hrTL a,
body .auto_charge_using_auto_charge__Nbz\+2 .auto_charge_text__w7ouY,
body .badge_channel__PI8p0,
body .button_container__x044H.button_transparent__PrD\+j,
body .channel_home_community_title__WtuGK,
body .channel_home_no_content_container__q2x18:not(.channel_home_no_content_type_image__KhPnL) .channel_home_no_content_text__6RzzE,
body .channel_home_vod_title__1EC1P,
body .channel_information_ranking_item__ZP9rV.channel_information_is_medal__oFn5T .channel_information_nickname__fi7Yh,
body .channel_manage_basic_button__26slF:active,
body .channel_manage_basic_button__26slF:focus-visible,
body .channel_manage_basic_button__26slF:hover,
body .channel_manage_component_button__mQNU5:hover,
body .channel_manage_video_button__R3ds4:hover:not(.channel_manage_video_button__R3ds4[aria-selected="true"]),
body .channel_profile_name__BVoX8,
body .channel_vod_tab_type_item__9Yq3l,
body .charge_complete_result_title__naKBf,
body .charge_list__W5APU .charge_item__3i4xZ a,
body .comment_item_name__iRbvz,
body .comment_item_option__gcILq,
body .community_write_sticker_header__IYYI1,
body .community_write_title__bp6kg,
body .header_container__F4Prc.header_is_expanded__rII-5 .header_service__DyG7M .header_item__MFv39,
body .header_label__9PQIM,
body .input_textarea__Q1\+Lj,
body .layer_contents__QF5mn,
body .live_chatting_fixed_button__Ng7ya:active,
body .live_chatting_fixed_button__Ng7ya:focus-visible,
body .live_chatting_fixed_button__Ng7ya:hover,
body .live_chatting_fixed_container__2tQz6,
body .live_chatting_header_title__3y2oK,
body .live_chatting_input_input__2F3Et,
body .live_chatting_message_container__vrI-y:not(.live_chatting_message_is_overlay__cALCf) .live_chatting_message_text__DyleH,
body .live_chatting_popup_bottom_title__O4NPi,
body .live_chatting_popup_donation_charge__pF9\+X,
body .live_chatting_popup_initial_container__fB4JK,
body .live_chatting_popup_my_profile_name__wdimB,
body .live_chatting_popup_profile_container__\+YBl1,
body .live_chatting_popup_profile_item__tOguB,
body .live_chatting_popup_profile_tab__6hQJz[aria-selected="true"] .live_chatting_popup_profile_text__H8T\+t,
body .live_chatting_popup_rule_text__I3sTY,
body .live_chatting_popup_rule_title__FKfRt,
body .live_chatting_ranking_carousel_nickname__905WZ,
body .live_chatting_ranking_marquee_nickname__zwS5w,
body .live_chatting_ranking_row_link__6ngM8,
body .live_chatting_ranking_row_order__U7Vqd,
body .live_chatting_ranking_title__aMWbQ,
body .live_chatting_remaining_time__G79N4,
body .live_chatting_scroll_button_arrow__tUviD .live_chatting_scroll_icon__XV5Ou,
body .live_chatting_scroll_message__iPiA2,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:active .navigator_name__AhZMz,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:focus-visible .navigator_name__AhZMz,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:hover .navigator_name__AhZMz,
body .navigator_text__MHoCv,
body .news_name__xo-Nn,
body .no_content_title__x2tdN,
body .profile_channel__8rUOp,
body .profile_chatting_manage_button_arrow__JbROa svg,
body .profile_chatting_manage_button_arrow__JbROa:active .profile_chatting_manage_icon__7Y9hK,
body .profile_chatting_manage_button_arrow__JbROa:focus-visible .profile_chatting_manage_icon__7Y9hK,
body .profile_chatting_manage_button_arrow__JbROa:hover .profile_chatting_manage_icon__7Y9hK,
body .profile_chatting_manage_item__hG9jV,
body .report_reason__DTqt0,
body .report_text_item__GUc\+j a,
body .search_input__tKVgq,
body .search_keyword__mAhns,
body .toolbar_link__p4qbh,
body .top_banner_title__LNm0u,
body .video_card_title__Amjk2,
body .video_information_label__ys8r1,
body .video_information_link__2OrbG,
body .video_information_title__jrLfG,
body .videos_tab__w6Uek,
body .vod_recommend_header_title__iu4\+P,
body .vod_recommend_label__SpNOG,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab:hover {
  /* #dfe2ea */
  color: #26262c;
}

body .live_chatting_message_container__vrI-y:not(.live_chatting_message_is_overlay__cALCf).live_chatting_message_is_hidden__CLKiR .live_chatting_message_text__DyleH {
  color: #26262c !important;
}

body .auto_charge_box__7I-VD,
body .auto_charge_check_area__6M0r2,
body .auto_charge_list__6\+63t,
body .auto_charge_value_text__8sCbN,
body .auto_charge_warning__3D1FX,
body .badge_text__n3sgW,
body .buffnerf_number__AczVY,
body .channel_home_community_button__v70d5,
body .channel_home_vod_button__bmhWS,
body .channel_information_money__7KDVR,
body .channel_information_ranking__Hv40P,
body .channel_information_statistics_title__7IuQN,
body .channel_manage_component_title__BvMlz,
body .channel_manage_home_data__n9KEn,
body .channel_manage_video_empty_text__t3o81,
body .channel_profile_box__3e23Q,
body .channel_profile_text__9RIIn,
body .charge_area__D12VJ .charge_button__bfwM7,
body .charge_box__pGjAS .charge_text__6cDbo,
body .charge_complete_information__Y0KRc,
body .charge_list__W5APU,
body .charge_total_box__mlfdK .charge_text__6cDbo,
body .cleanbot_button__VvdyA,
body .community_detail_buff_count__DVlOS,
body .community_detail_time__wFTV-,
body .community_list_item_buff_count__6qA3n,
body .community_list_item_time__WNRY-,
body .community_write_close_button__ro29s,
body .community_write_count__Q\+nL8,
body .emoticon_button__rwqeh,
body .emoticon_button_close__UN-36,
body .emoticon_title__1qm2z,
body .empty_text__u5Ci5,
body .footer_text__t475V,
body .header_service__DyG7M .header_icon__8SHkt,
body .input_count__HBQAs,
body .layer_contents__QF5mn svg,
body .live_chatting_fixed_button__Ng7ya,
body .live_chatting_guide_container__vr6hZ,
body .live_chatting_header_button__t2pa1,
body .live_chatting_popup_bottom_button__tK6mZ,
body .live_chatting_popup_bottom_description__ISDdQ,
body .live_chatting_popup_donation_button_close__9me7f,
body .live_chatting_popup_donation_icon_arrow__S-Eyg,
body .live_chatting_popup_donation_information__Bv3v4 .live_chatting_popup_donation_tooltip_button__TVTl5,
body .live_chatting_popup_donation_money_button__KCFzJ,
body .live_chatting_popup_donation_tooltip_button__TVTl5,
body .live_chatting_popup_initial_close_button__6JkiB,
body .live_chatting_popup_my_profile_close__wTqEX,
body .live_chatting_popup_my_profile_icon_history__dVjkf,
body .live_chatting_popup_my_profile_no_badge__8JLiQ,
body .live_chatting_popup_my_profile_title__qI2dD,
body .live_chatting_popup_profile_control_button__atW98,
body .live_chatting_popup_profile_count__oNaRD,
body .live_chatting_popup_profile_row__yHz-q,
body .live_chatting_popup_profile_text__H8T\+t,
body .live_chatting_popup_rule_close_button__dk1mH,
body .live_chatting_popup_rule_row__a6wCf,
body .live_chatting_ranking_arrow_button__OObNh,
body .live_chatting_ranking_carousel_ranking__mUBor,
body .live_chatting_ranking_carousel_text__kktYm,
body .live_chatting_ranking_more_button__Rqup8,
body .live_chatting_username_nickname__dDbbj,
body .manage_auto_charge_date__aNAVn,
body .manage_auto_charge_text__hTOQD,
body .navigator_button_more__UE0v3,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:active .navigator_category__S1wCR,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:focus-visible .navigator_category__S1wCR,
body .navigator_is_expanded__4Q1h9 .navigator_item__qXlq9:hover .navigator_category__S1wCR,
body .navigator_title__9RhVJ,
body .navigator_tooltip__KbFhK.navigator_is_expanded__4Q1h9 .navigator_category__S1wCR,
body .news_date__8gBtv,
body .news_footer__Ry4CM .news_count__8hmSh,
body .no_content_description__3LsnR,
body .pagination_button__\+Tzu0,
body .popup_close_button__Gwi1s,
body .profile_layer_icon__7g3e-,
body .profile_layer_lounge_text__8UcO9,
body .report_button__gyUb6,
body .report_list_title__gDUZr,
body .report_text_item__GUc\+j,
body .report_unit__BxfbN,
body .search_close_button__DHL8f,
body .search_empty__qWfHu,
body .search_off_button__NTbLM,
body .search_remove_button__AMK7-,
body .search_reset_button__U1M0S,
body .search_title__AJeex,
body .top_banner_description__TEbBf,
body .video_card_area__FtMQV,
body .video_card_horizontal__-\+L1b .video_card_item__lOC8Y,
body .video_card_is_block__cGuyo .video_card_title__Amjk2,
body .video_information_vod_count__\+\+UCG .video_information_count__Y05sI,
body .video_information_time__G95w\+,
body .vod_recommend_channel__8s\+Fd,
body .vod_recommend_data__Fjf7s,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_empty,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_empty a,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item .item_comment,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item .item_date,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_item .item_nickname {
  /* #9da5b6 */
  color: #323239;
}

body .navigator_category__S1wCR {
  color: #3b3b44;
}

body .live_chatting_input_send_button__8KBrn {
  color: rgba(0, 0, 0, 0.4);
}

body .live_chatting_input_input__2F3Et::placeholder {
  color: rgba(20, 23, 31, 0.5);
}

body .header_service__DyG7M .header_item__MFv39[aria-current="page"] {
  color: #009961 !important; 
}

body .live_chatting_guide_container__vr6hZ em,
body .live_chatting_input_input_button__sjwrf[aria-expanded="true"]:active,
body .live_chatting_input_input_button__sjwrf[aria-expanded="true"]:focus-visible,
body .live_chatting_input_input_button__sjwrf[aria-expanded="true"]:hover,
body .live_chatting_popup_rule_highlight__cgG8x,
body .profile_layer_badge__cq8Em,
body .top_banner_date__\+mjPi,
body .video_information_game__18XV7 {
  color: rgba(0, 153, 97, 0.9);
}

body .badge_condition__AKB0g,
body .channel_manage_video_item__0n73f[aria-selected="true"],
body .charge_complete_highlight__8fsJw,
body .comment_item_button_reply__kdFjl.comment_item_highlight__xp520:active,
body .comment_item_button_reply__kdFjl.comment_item_highlight__xp520:focus-visible,
body .comment_item_button_reply__kdFjl.comment_item_highlight__xp520:hover,
body .community_list_item_comment__DEe8n,
body .input_photo__BFAH1:active,
body .input_photo__BFAH1:focus,
body .live_chatting_input_input_button__sjwrf[aria-expanded="true"],
body .live_chatting_popup_bottom_description__ISDdQ strong,
body .live_chatting_popup_initial_link__\+QZJy,
body .live_chatting_ranking_guide_text__Q1V8i strong,
body .manage_auto_charge_highlight__XNGnf,
body .navigator_tooltip__KbFhK.navigator_is_expanded__4Q1h9 .navigator_name__AhZMz,
body .profile_chatting_manage_item__hG9jV strong,
body .video_information_game__18XV7:active,
body .video_information_game__18XV7:focus-visible,
body .video_information_game__18XV7:hover {
  color: rgba(0, 153, 97, 0.7);
}

body .input_textarea_mirror__9LKRt strong {
  text-shadow: none;
}

body .comment_item_mention__HTcvk,
body .comment_item_button_reply__kdFjl.comment_item_highlight__xp520,
body .comment_item_content__QxOPL .comment_item_time__6KPQu,
body .community_list_item_comment__DEe8n {
  color: rgba(0, 153, 97, 0.6);
}

body .navigator_count__db5Av {
  color: #ff1414;
}

body .charge_number__T8cQt,
body .live_chatting_popup_donation_assets__q\+MvY,
body .live_chatting_ranking_carousel_number__zs8Tb,
body .live_chatting_ranking_marquee_number__uXVzD {
  color: #daa520;
}

body .channel_vod_tab_type_item__9Yq3l[aria-selected="true"],
body .input_button__6SZ4P.input_highlight__FyLt6,
body .pagination_button__\+Tzu0[aria-current="page"],
body .videos_tab__w6Uek[aria-selected="true"],
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab[aria-selected="true"],
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_tab > div .btn_tab[aria-selected="true"]:hover {
  background-color: #1f1f23;
  color: #f7f7f8;
}

body .component_button__iR6IO,
body .component_button__vz\+xi {
  background-color: #efeff1;
  border-color: hsla(0, 0%, 50%, 0.12);
  color: #3b3b44;
}

body .toolbar_container__k2trF {
  background-color: #fff;
  color: #26262c;
}

body .channel_home_community_button__v70d5:active,
body .channel_home_community_button__v70d5:focus-visible,
body .channel_home_community_button__v70d5:hover,
body .channel_home_vod_button__bmhWS:active,
body .channel_home_vod_button__bmhWS:focus-visible,
body .channel_home_vod_button__bmhWS:hover,
body .comment_item_button_reply__kdFjl:active,
body .comment_item_button_reply__kdFjl:focus-visible,
body .comment_item_button_reply__kdFjl:hover,
body .community_write_close_button__ro29s:active svg,
body .community_write_close_button__ro29s:focus-visible svg,
body .community_write_close_button__ro29s:hover svg,
body .component_link__pfwRL:active,
body .component_link__pfwRL:focus-visible,
body .component_link__pfwRL:hover,
body .emoticon_button__rwqeh:active svg,
body .emoticon_button__rwqeh:focus-visible svg,
body .emoticon_button__rwqeh:hover svg,
body .emoticon_button_close__UN-36:active svg,
body .emoticon_button_close__UN-36:focus-visible svg,
body .emoticon_button_close__UN-36:hover svg,
body .header_service__DyG7M .header_item__MFv39:active,
body .header_service__DyG7M .header_item__MFv39:focus-visible,
body .header_service__DyG7M .header_item__MFv39:hover,
body .input_tool_button__6NaM6:active,
body .input_tool_button__6NaM6:focus-visible,
body .input_tool_button__6NaM6:hover,
body .live_chatting_header_button__t2pa1:active svg,
body .live_chatting_header_button__t2pa1:focus-visible svg,
body .live_chatting_header_button__t2pa1:hover svg,
body .live_chatting_input_input_button__sjwrf:active,
body .live_chatting_input_input_button__sjwrf:focus-visible,
body .live_chatting_input_input_button__sjwrf:hover,
body .live_chatting_popup_bottom_button__tK6mZ:active,
body .live_chatting_popup_bottom_button__tK6mZ:focus-visible,
body .live_chatting_popup_bottom_button__tK6mZ:hover,
body .live_chatting_popup_donation_button_close__9me7f:active svg,
body .live_chatting_popup_donation_button_close__9me7f:focus-visible svg,
body .live_chatting_popup_donation_button_close__9me7f:hover svg,
body .live_chatting_popup_my_profile_close__wTqEX:active svg,
body .live_chatting_popup_my_profile_close__wTqEX:focus-visible svg,
body .live_chatting_popup_my_profile_close__wTqEX:hover svg,
body .live_chatting_popup_profile_control_button__atW98:active svg,
body .live_chatting_popup_profile_control_button__atW98:focus-visible svg,
body .live_chatting_popup_profile_control_button__atW98:hover svg,
body .live_chatting_ranking_arrow_button__OObNh:active svg,
body .live_chatting_ranking_arrow_button__OObNh:focus-visible svg,
body .live_chatting_ranking_arrow_button__OObNh:hover svg {
  background-color: rgba(0, 0, 0, 0.1);
  color: #26262c;
}

body .live_chatting_input_setting_button__u9WRl:active .live_chatting_input_icon_setting__TshVj,
body .live_chatting_input_setting_button__u9WRl:focus-visible .live_chatting_input_icon_setting__TshVj,
body .live_chatting_input_setting_button__u9WRl:hover .live_chatting_input_icon_setting__TshVj {
  background-color: hsla(0, 0%, 50%, 0.3);
  color: #26262c;
}

body .live_chatting_input_icon_setting__TshVj {
  background-color: hsla(0, 0%, 50%, 0.2);
  color: #1f1f23;
}

body .component_button__iR6IO:active,
body .component_button__iR6IO:focus-visible,
body .component_button__iR6IO:hover,
body .component_button__vz\+xi:active,
body .component_button__vz\+xi:focus-visible,
body .component_button__vz\+xi:hover,
body .live_chatting_ranking_more_button__Rqup8:active,
body .live_chatting_ranking_more_button__Rqup8:focus-visible,
body .live_chatting_ranking_more_button__Rqup8:hover,
body .navigator_button_more__UE0v3:active,
body .navigator_button_more__UE0v3:focus-visible,
body .navigator_button_more__UE0v3:hover {
  background-color: hsla(0, 0%, 50%, 0.1);
  border-color: hsla(0, 0%, 50%, 0.2);
  color: #1f1f23;
}

body .comment_item_button_reply__kdFjl:active,
body .comment_item_button_reply__kdFjl:focus-visible,
body .comment_item_button_reply__kdFjl:hover,
body .community_detail_more_button__-9kBE:active,
body .community_detail_more_button__-9kBE:focus-visible,
body .community_detail_more_button__-9kBE:hover,
body .community_detail_more_button__-9kBE[aria-expanded="true"],
body .community_list_item_more_button__ODPVL:active,
body .community_list_item_more_button__ODPVL:focus-visible,
body .community_list_item_more_button__ODPVL:hover,
body .community_list_item_more_button__ODPVL[aria-expanded="true"],
body .video_card_vertical__\+gTMT .video_card_more_button__yXWHm:active,
body .video_card_vertical__\+gTMT .video_card_more_button__yXWHm:focus-visible,
body .video_card_vertical__\+gTMT .video_card_more_button__yXWHm:hover,
body .video_card_vertical__\+gTMT .video_card_more_button__yXWHm[aria-expanded="true"] {
  background-color: hsla(0, 0%, 50%, 0.1);
  color: #18181b;
}

body .button_container__x044H.button_transparent__PrD\+j,
body .channel_manage_basic_button__26slF:active,
body .channel_manage_basic_button__26slF:focus-visible,
body .channel_manage_basic_button__26slF:hover,
body .channel_manage_component_button__mQNU5:hover,
body .channel_manage_video_button__R3ds4:hover:not(.channel_manage_video_button__R3ds4[aria-selected=true]),
body .cleanbot_button__VvdyA:active,
body .cleanbot_button__VvdyA:focus-visible,
body .cleanbot_button__VvdyA:hover,
body .navigator_profile__kAP2J:active,
body .navigator_profile__kAP2J:focus-visible,
body .navigator_profile__kAP2J:hover,
body .toolbar_login__xdtjd,
body .video_information_private__7RnJs,
body .webkit_cafe_pc .webkit_cafe_content .webkit_cafe_empty a {
  border-color: hsla(0, 0%, 0%, 0.2);
}

body .channel_home_banner_icon_arrow__8smxw,
body .channel_home_community_icon_arrow__zoIlF,
body .channel_home_vod_icon_arrow__qULQb,
body .channel_manage_home_file_upload__A-4b2:before,
body .charge_area__D12VJ .charge_button__bfwM7,
body .cleanbot_button__VvdyA,
body .live_chatting_popup_donation_money_button__KCFzJ,
body .live_chatting_ranking_more_button__Rqup8,
body .navigator_button_more__UE0v3,
body .news_icon_arrow__u02tn,
body .video_information_time__G95w\+,
body .webkit_cafe_pc .webkit_cafe_content .btn_flicking {
  border-color: hsla(0, 0%, 0%, 0.12);
}

body .channel_manage_basic_button__26slF,
body .channel_manage_component_add_area__kw-Ym,
body .channel_manage_component_button__mQNU5,
body .channel_manage_video_button__R3ds4,
body .live_chatting_remaining_time__G79N4,
body .toolbar_link__p4qbh {
  border-color: hsla(0, 0%, 0%, 0.1);
}

body .channel_home_no_content_container__q2x18.channel_home_no_content_type_border__3qK3,
body .input_thumb__dIbqI:after,
body .live_chatting_header_title__3y2oK,
body .live_chatting_popup_donation_box__jE6yn,
body .popup_area__cBlRA,
body .video_card_vertical__\+gTMT .video_card_thumbnail__QXYT8:after,
body .vod_recommend_header__btceh,
body .vod_recommend_thumbnail__UbZ87:after,
body .webkit_cafe_pc .webkit_cafe_content li {
  border-color: hsla(0, 0%, 0%, 0.06);
}

body .news_profile__73Esm:after,
body .video_card_vertical__\+gTMT .video_card_profile__QHbN7 .video_card_image__yHXqv:after {
  border-color: hsla(0, 0%, 0%, 0.04);
}

body .badge_tooltip__JIQIU,
body .cleanbot_popup_layer__qz6fp,
body .comment_item_layer__AV38Q,
body .community_write_emoticon_layer__yl7KU,
body .community_write_sticker_layer__XkGNh,
body .emoticon_container__6D3Ri,
body .layer_container__ChL8g,
body .live_chatting_donation_message_container__r01qB,
body .live_chatting_donation_message_emoticon__I319n,
body .live_chatting_emoticon__R4VNv,
body .live_chatting_popup_donation_container__-Xbda,
body .live_chatting_popup_initial_container__fB4JK,
body .live_chatting_popup_my_profile_container__qxt53,
body .live_chatting_popup_profile_container__\+YBl1,
body .live_chatting_popup_profile_container__\+YBl1:not(.live_chatting_popup_profile_new_window__ysGaH),
body .live_chatting_popup_rule_container__gnQS8,
body .popup_container__Aqx-3,
body .profile_layer_container__Qjyvp,
body .profile_layer_lounge_container__fCdQK,
body .search_autocomplete__m3D36,
body .toast_container__6QVkr {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

body .live_chatting_ranking_container__RVHvS {
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
}

body .channel_home_banner_icon_arrow__8smxw:active,
body .channel_home_banner_icon_arrow__8smxw:focus-visible,
body .channel_home_banner_icon_arrow__8smxw:hover,
body .channel_home_community_icon_arrow__zoIlF:active,
body .channel_home_community_icon_arrow__zoIlF:focus-visible,
body .channel_home_community_icon_arrow__zoIlF:hover,
body .channel_home_vod_icon_arrow__qULQb:active,
body .channel_home_vod_icon_arrow__qULQb:focus-visible,
body .channel_home_vod_icon_arrow__qULQb:hover,
body .news_icon_arrow__u02tn:active,
body .news_icon_arrow__u02tn:focus-visible,
body .news_icon_arrow__u02tn:hover {
  box-shadow: none;
}

body .header_logo__JUJQo path[fill="white"],
body .search_form_button__AFdzU path {
  fill: #000;
}

body .live_chatting_guide_icon__HX2cT path,
body .webkit_cafe_name g {
  fill: #1f1f23;
}

body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:active svg path,
body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:focus-visible svg path,
body .comment_item_more__ceoL8 .comment_item_button_more__HRv6K:hover svg path {
  fill: #323239;
}

body .header_button__oszSs rect {
  fill: #848494;
}

body .live_chatting_guide_icon__HX2cT rect,
body .navigator_button_fold__nOkxo:active .navigator_icon_arrow__37j2I path,
body .navigator_button_fold__nOkxo:focus-visible .navigator_icon_arrow__37j2I path,
body .navigator_button_fold__nOkxo:hover .navigator_icon_arrow__37j2I path,
body .search_form_button__AFdzU path:not([fill="white"]),
body .search_form_button__AFdzU circle,
body .webkit_cafe_pc .webkit_cafe_head .webkit_cafe_name .btn_cafe_more path {
  stroke: #1f1f23;
}

body .live_chatting_username_nickname__dDbbj {
  filter: brightness(0.8);
}

body .live_chatting_username_container__m1-i5.live_chatting_username_is_donation__eXMYs .live_chatting_username_nickname__dDbbj {
  filter: none;
}

body .comment_item_wrap__FXyWh.comment_item_is_mine__Aqruz {
  animation: none;
}

body .live_chatting_fixed_container__2tQz6:before {
  display: none;
}
