[class^="channel_card_profile__"],
[class^="channel_item_thumbnail__"],
[class^="channel_profile_thumbnail__"],
[class^="comment_item_image__"],
[class^="community_detail_profile__"],
[class^="community_list_item_profile__"],
[class^="exclusive_profile__"],
[class^="fixed_live_profile__"],
[class^="following_offline_profile__"],
[class^="input_image__"],
[class^="live_chatting_popup_profile_profile__"],
[class^="navigator_profile__"],
[class^="news_profile__"],
[class^="partner_profile__"],
[class^="profile_layer_image__"],
[class^="schedule_item_profile__"],
[class^="toolbar_button__"],
[class*="toolbar_profile_button__"],
[class^="video_card_image__"],
[class^="video_information_thumbnail__"] {
  border-radius: 0 !important;
}
