[class^="aside_container__"] {
  left: auto !important;
  right: 0;
  --knife-top-explore-left: calc(330px - 100vw);
}

[class^="layout_body"] {
  padding-left: 0 !important;
  padding-right: 78px;
}

@media (min-width: 1200px) {
  [class^="layout_body"][class*="layout_is_expanded__"] {
    padding-right: 240px;
  }
}

[class^="navigator_tooltip__"] {
  left: auto !important;
  right: calc(100% + 5px);
}

[class^="aside_content__"][class*="aside_show_tooltip__"] {
  margin-left: -200px;
  padding-left: 216px !important;
  margin-right: 0 !important;
  padding-right: 16px !important;
}

[class*="aside_is_expanded__"]
  [class^="aside_content__"][class*="aside_show_tooltip__"] {
  padding-left: 220px !important;
  padding-right: 20px !important;
}

@media screen and (min-width: 736px) {
  [class^="clip_viewer_comment__"] {
    right: 103px !important;
  }
}

@media screen and (min-width: 1200px) {
  [class*="layout_is_expanded__"] [class^="clip_viewer_comment__"] {
    right: 265px !important;
  }
}
