[class^="navigation_bar_logo_chzzk__"] {
  background-color: var(--color-content-02);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='26'%3E%3Cpath d='m19.847 6.156-2.444 13.688h4.9l2.44-13.688h-4.896ZM26.433 6.156l-.654 3.66h5.971l-7.761 10.028h5.568l4.227-5.463-.974 5.463h4.895l1.222-6.842h-4.075l5.298-6.846H26.433ZM18.157 6.156h-5.565l2.83-3.656h-5.564L4.56 9.342h5.569L2 19.844h5.569l4.226-5.463-.974 5.463h4.896l1.222-6.842h-4.076l5.294-6.846ZM41.84 6.156l-2.445 13.688h4.896l2.444-13.688H41.84ZM48.421 6.156l-.65 3.66h5.937L45.98 19.844h5.565l4.176-5.421-.966 5.421h4.9l1.221-6.842h-4.056l5.275-6.846H48.42ZM66.833 16.184l1.79-10.028h-4.895l-2.445 13.688h3.168l-.654 3.656h4.9L70 16.184h-3.167Z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  width: 0;
  padding-right: 80px;
}
