@media (min-width: 1200px) {
  [class^="aside_container__"] {
    z-index: 13900 !important;
  }

  [class^="aside_content__"] [class^="navigation_bar_section__"]:first-child {
    position: absolute;
    left: calc(
      var(--knife-top-explore-left, 406px) +
        var(--knife-top-explore-offset, 0px)
    );
    top: var(--knife-top-explore-top, -56px);
    transition: top ease-in-out 100ms;
    white-space: nowrap;
    padding-bottom: 0;
  }

  [class*="aside_is_expanded__"]
    [class^="aside_content__"]
    [class^="navigation_bar_section__"]:first-child {
    top: calc(var(--knife-top-explore-top, -56px) + 7px);
  }

  [class^="aside_content__"]
    [class^="navigation_bar_section__"]:first-child
    [class^="navigation_bar_list__"] {
    display: flex;
    gap: 6px;
  }

  [class*="aside_is_expanded__"]
    [class^="aside_content__"]
    [class^="navigation_bar_section__"]:first-child
    [class^="navigation_bar_list__"] {
    gap: 0;
  }

  [class^="aside_content__"]
    [class^="navigation_bar_section__"]:first-child
    [class^="navigation_bar_item__"]
    + [class^="navigation_bar_item__"] {
    margin-top: 0;
  }

  [class^="aside_banner__"] {
    display: none !important;
  }
}
