section[class^="header_section__"][class*="header_show_tooltip__"] {
  margin-right: -300px;
  padding-right: 300px;
}

.knife-sharpen video {
  filter: url(#filterSharpen);
}

.knife-fit-player [class^="vod_player__"] {
  max-height: 100% !important;
}

.knife-fit-player [class^="live_information_player__"] {
  max-height: 100vh;
}

.knife-fit-player [class^="live_information_contents__"] {
  max-height: none;
}

.knife-resize-chat [class^="live_chatting_container__"]:not([class*="live_chatting_is_popup_chat__"]) {
  width: var(--knife-chat-width, 353px);
  max-width: calc(100% - 24px);
}

.knife-resize-chat [class*="live_chatting_is_popup_chat__"] {
  max-width: none;
}

.knife-left-side-chat [class^="live_container__"] {
  flex-direction: row-reverse;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .knife-resize-chat [class*="live_chatting_is_large__"] {
    max-width: none;
  }

  .knife-left-side-chat [class^="live_container__"][class*="live_is_large__"] {
    flex-direction: column-reverse;
  }
}

.knife-left-side-chat [class^="live_chatting_popup_profile_container__"] {
  right: auto;
}

.knife-categories {
  display: flex;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  overflow-x: auto;
}

.knife-category-hidden .knife-categories {
  display: none;
}

.knife-categories::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.knife-categories::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 9999px;
}

.knife-category {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0.25rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #2e3033;
  color: #9da5b6;
  font-size: 1.2rem;
  font-family: "Sandoll Nemony2", "Apple SD Gothic NEO", "Helvetica Neue",
    Helvetica, 나눔고딕, NanumGothic, "Malgun Gothic", "맑은 고딕", 굴림, gulim,
    새굴림, "noto sans", 돋움, Dotum, sans-serif;
}

.knife-category-active {
  border-color: #00ffa3;
  border-width: 2px;
  border-style: solid;
}

.knife-category-logo {
  width: 80px;
  height: 80px;
}

.knife-category-count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2rem 0;
  background-color: #2e303399;
  color: #dfe2ea;
  font-size: 0.8rem;
}

.knife-preview {
  position: absolute;
  margin-top: 0.25rem;
  width: 300px;
  aspect-ratio: 16/9;
  background-color: #2e3033;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.knife-preview > img {
  width: 100%;
}

.knife-preview-uptime {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #18181b99;
  color: white;
}

.knife-popup {
  position: absolute;
  width: 640px;
  height: 360px;
  border-radius: 5px;
  overflow: hidden;
  resize: both;
  box-sizing: border-box;
}

.knife-popup * {
  box-sizing: border-box;
}

.knife-popup-player {
  width: 100%;
  height: 100%;
  border: 0;
}

.knife-dragging .knife-popup-player {
  pointer-events: none;
}

.knife-popup-drag-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  cursor: move;
}

.knife-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  padding: 0.25rem;
  border-radius: 2px;
  font-size: 0.8rem;
  color: #eee;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.knife-popup-close-button:hover {
  background-color: #18181ba0;
  opacity: 1;
}

.knife-stats-overlay {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #18181b99;
  color: white;
}

.knife-stats-overlay > button {
  color: white;
  font-weight: bold;
}

.knife-resize-handle {
  display: none;
  width: 3px;
  height: 100%;
  cursor: col-resize;
}

.knife-resize-handle:hover {
  background-color: #ffffff0f;
}

.knife-resize-chat .knife-resize-handle {
  display: block;
}

.knife-resize-handle:has(+ [class*="live_chatting_is_folded__"]),
.knife-resize-handle:has(+ [class*="live_chatting_is_popup_chat__"]) {
  display: none;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  [class*="live_is_large__"] .knife-resize-handle {
    display: none;
  }
}
