body {
  overflow: hidden;
}

.knife-sharpen video {
  filter: url(#filterSharpen);
}

.knife-left-side-chat [class^="live_chatting_container__"] {
  order: -1;
}

.knife-left-side-chat [class^="live_chatting_popup_profile_container__"] {
  right: auto;
}

.knife-explore {
  margin: auto 1rem;
  color: #dfe2ea;
  font-size: 1rem;
  font-family: "Sandoll Nemony2", "Apple SD Gothic NEO", "Helvetica Neue",
    Helvetica, 나눔고딕, NanumGothic, "Malgun Gothic", "맑은 고딕", 굴림, gulim,
    새굴림, "noto sans", 돋움, Dotum, sans-serif;
  font-weight: 400;
}

.knife-categories {
  display: flex;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.knife-category-hidden .knife-explore,
.knife-category-hidden .knife-categories {
  display: none;
}

.knife-categories::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.knife-categories::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 9999px;
}

.knife-category {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0.25rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #2e3033;
  color: #9da5b6;
  font-size: 1.2rem;
  font-family: Sandoll Nemony2, Apple SD Gothic NEO, Helvetica Neue, Helvetica,
    나눔고딕, NanumGothic, Malgun Gothic, 맑은 고딕, 굴림, gulim, 새굴림,
    noto sans, 돋움, Dotum, sans-serif;
}

.knife-category-active {
  border-color: #00ffa3;
  border-width: 2px;
  border-style: solid;
}

.knife-category-logo {
  width: 80px;
  height: 80px;
}

.knife-category-count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2rem 0;
  background-color: #2e303399;
  color: #dfe2ea;
  font-size: 0.8rem;
}

.knife-preview {
  position: absolute;
  top: 0;
  left: -100%;
  margin: 0 1rem;
  width: 300px;
  background-color: #2a2c31;
  color: #dfe2ea;
  font-weight: 600;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  pointer-events: none;
}

.knife-preview-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.knife-preview-thumbnail > img {
  width: 100%;
}

.knife-preview-viewers,
.knife-preview-uptime {
  position: absolute;
  left: 0;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #18181b99;
  color: white;
}

.knife-preview-uptime {
  top: 0;
}

.knife-preview-viewers {
  bottom: 0;
}

.knife-preview-info {
  padding: 0.5rem;
  font-size: 1rem;
}

.knife-preview-category {
  margin-right: 0.3rem;
  color: #697183;
}

.knife-popup {
  position: absolute;
  width: 640px;
  height: 360px;
  border-radius: 5px;
  overflow: hidden;
  resize: both;
  box-sizing: border-box;
}

.knife-popup * {
  box-sizing: border-box;
}

.knife-popup-player {
  width: 100%;
  height: 100%;
  border: 0;
}

.knife-dragging .knife-popup-player {
  pointer-events: none;
}

.knife-popup-drag-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  cursor: move;
}

.knife-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  padding: 0.25rem;
  border-radius: 2px;
  font-size: 0.8rem;
  color: #eee;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.knife-popup-close-button:hover {
  background-color: #18181ba0;
  opacity: 1;
}

.knife-stats-overlay {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #18181b99;
  color: white;
}

.knife-stats-overlay > button {
  color: white;
  font-weight: bold;
}
